<div class="content-wrapper">
  <h1>{{ 'Project List' | translate }}</h1>
  <ngx-datatable
    (page)='setPage($event)'
    [columnMode]="'force'"
    [columns]="cols"
    [count]="page.totalElements"
    [externalPaging]="true"
    [footerHeight]="50"
    [headerHeight]="50"
    [limit]="page.size"
    [offset]="page.page"
    [rowHeight]="'auto'"
    [rows]="rows"
    class="bootstrap">
  </ngx-datatable>

  <button (click)="openModal(template)" class="btn btn-primary" type="button">Create template modal</button>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button (click)="modalRef.hide()" aria-label="Close" class="close pull-right" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      This is a modal.
    </div>
  </ng-template>
</div>
